@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--vw: 800px;
		--vh: 600px;
		--header-height: 40px;
		--container-height: calc(var(--vh) - var(--header-height));
	}
	html {
		font-family: 'Noto Sans', system-ui, sans-serif;
	}
}

@font-face {
	font-family: 'Noto Sans';
	src: url('fonts/Noto/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	src: url('fonts/Noto/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('fonts/Noto/NotoSans-Italic.ttf') format('truetype');
	font-style: italic;
}
